.header img{
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
	width: 90%;
	height: 100%;
	border-radius: 50%;
}
.border-right{
	border-right: 1px solid #d3d3d3;
}
.myDatePicker{
	-moz-border-radius: 5px;
 	border-radius: 5px;
    border:1px solid #d3d3d3;
    padding:9px;
	width: 100%;
}

/*.card_change {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  border-color: rgb(241,32,212);
}*/

.card-1 {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
